@*@model IEnumerable<MVC_GestionProyectos.Models.Usuario>


@foreach (var item in Model)
{

    <p>@Html.DisplayFor(modelItem => item.nombre)</p>
    <p>@Html.DisplayFor(modelItem => item.apellido)</p>
    <p>@Html.DisplayFor(modelItem => item.email)</p>
    <p>@Html.DisplayFor(modelItem => item.foto)</p>
}*@

